.event-top {
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.event-theme {
  display: flex;
  width: 100%;
  height: 100%;
  font-family: "KBH Tekst", sans-serif;
  color: black;

  .event__image {
    width: 60%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .event__host {
    font-size: 1.875em;
    font-weight: 700;
  }

  .event__logo {
    width: 6em;
    height: 6em;
    flex-shrink: 0;
    color: white;
  }

  // Font size based on the element's ratio.
  font-size: calc(var(--width) * 0.01px);
  &.layout-vertical, &.layout-square {
    font-size: calc(var(--height) * 0.015px);
    display: flex;
    flex-direction: column;

    .event__host {
      font-size: 2.5em;
      margin-bottom: 0;
    }


    .event-details {
      &__title {
        margin: 0.5em 0;

        h1 {
          font-size: 3.5em;
          margin: 0;
        }
      }

      &__sub-title {
        max-width: 100%;

        h2 {
          font-size: 2.5em;
        }

      }

      .event__date {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        font-size: 2.5em;
      }
    }

    .event-top {
      position: relative;
      padding: 3.78em 1.5em 3.78rem;

      &__image {
        height: 60%;
        flex-shrink: 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .event-additional-info {
      top: 0;
      right: 2em;
      bottom: unset;
      transform: translateY(-75%);
      padding-top: 5.5em;
      padding-bottom: 1em;
      width: 16em;

      &__title {
        font-size: 0.9em;

      }
      &__link {
        font-size: 1.8em;
        max-width: 100%;
        width: 100%;
        text-align: right;
      }

      .event__logo {
        bottom: unset;
        right: unset;
        top: 0;
        left: 0;
        transform: translateY(-18%) translateX(-18%);
      }
    }
  }

  &.layout-square {
    .event-top {
      padding: 3.78rem;

      &__image {
        height: 60.41%;
        flex-shrink: 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .event-additional-info {
      width: 25em;
      padding-top: 5em;
      padding-left: 5em;

      &__title {
        font-size: 1.3em;
      }

      .event__logo {
        width: 8em;
        height: 8em;
        transform: translateY(-30%) translateX(-30%);
      }

    }
  }


  &.farvepar1 {
    background-color: #fff606;

    .event-additional-info {
      background-color: #56e177;
    }
  }
  &.farvepar2 {
    background-color: #3eafff;

    .event-additional-info {
      background-color: #ff79d7;
    }
  }
  &.farvepar3 {
    background-color: #ff79d7;

    .event-additional-info {
      background-color: #fff606;
    }

    .event__logo {
      color: black;
    }
  }

  .event__date {
    display: flex;
    flex-direction: column;
    font-size: 2em;
    font-family: "KBH", sans-serif;
    font-weight: bold;
    gap: 0.2em;
  }

  &.layout-horizontal {
    .event-info {
      // Move text down a line in horizontal layout.
      padding-top: 6em;
    }
  }


  .event-info {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 4.42em 3em;

    &__top {
      display: flex;
      justify-content: space-between;
    }
  }

  .event-details {
    &__title {

      font-family: "KBH", sans-serif;
      word-break: break-word;
      margin: 4em 0;

      h1 {
        margin: 0;
        font-size: 4em;
      }
    }

    &__sub-title {
      font-family: "KBH", sans-serif;
      margin-bottom: 0.5em;

      h2 {
        font-size: 2.1em;
      }
    }
  }

  .event-additional-info {
    position: absolute;
    right: 0;
    bottom: 4em;
    transform: translateX(50%);
    padding: 2.24em 1.67em;
    width: 20.83em;
    font-family: "KBH", sans-serif;

    &__title {
      font-size: 1.22em;
      max-width: 90%;
      font-weight: bold;
    }

    &__link {
      font-size: 2.52em;
      font-weight: bold;
      text-decoration: underline;
      color: inherit;
      max-width: 72%;
      display: block;
      word-wrap: anywhere;
      padding: 0.2em 0;
    }

    .event__logo {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translateY(18%) translateX(18%);
    }
  }
}
